<body id="faq">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h3 class="main-title">Frequently Asked Questions <br> (FAQ)
                </h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">What is Price of MMTC Course?</div>
                        <div><span class="text-white" *ngIf="!text1" (click)="onText1()">+</span> <span
                                class="text-white" *ngIf="text1" (click)="onText12()">-</span></div>
                    </div>
                    <div *ngIf="text1">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">Price is Rs
                                1999, it Includes GST</div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">How Long i have access of MMTC?</div>
                        <div><span class="text-white" *ngIf="!text2" (click)="onText2()">+</span> <span
                                class="text-white" *ngIf="text2" (click)="onText13()">-</span></div>
                    </div>
                    <div *ngIf="text2">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">The MMTC Pre-recorded course video access :
                                1 Yr Free Silver plan subscription : 3 Month MMTC scanner : Life time</div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">If I have any doubt related to course, stock market, How can I clear
                            my doubts?</div>
                        <div><span class="text-white" *ngIf="!text3" (click)="onText3()">+</span> <span
                                class="text-white" *ngIf="text3" (click)="onText14()">-</span></div>
                    </div>
                    <div *ngIf="text3">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">There are 2 ways to clear the doubts Attend
                                Friday MMTC students webinar 9 pm on zoom, like will be shared in app to join it. After
                                enrollment we will share tushar’s email id where you can ask him queries you get reply
                                in 48 Hr</div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">Can we ask queries in live market?</div>
                        <div><span class="text-white" *ngIf="!text4" (click)="onText4()">+</span> <span
                                class="text-white" *ngIf="text4" (click)="onText15()">-</span></div>
                    </div>
                    <div *ngIf="text4">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">Sorry, there is no individual mentorship
                                provided however you can send your queries on email ID and we will reply within 48HR.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">How to download App?</div>
                        <div><span class="text-white" *ngIf="!text5" (click)="onText5()">+</span> <span
                                class="text-white" *ngIf="text5" (click)="onText16()">-</span></div>
                    </div>
                    <div *ngIf="text5">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">Tushar Ghone Mobile App link for Free
                                Scanner and Strategy:
                                <a style="text-decoration: none;"
                                    href="https://play.google.com/store/apps/details?id=com.tusharghone.app&pli=1">Click
                                    Here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">How to make payment?</div>
                        <div><span class="text-white" *ngIf="!text6" (click)="onText6()">+</span> <span
                                class="text-white" *ngIf="text6" (click)="onText17()">-</span></div>
                    </div>
                    <div *ngIf="text6">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">Either contact 👉🏻👉🏻👉🏻 Support team
                                for course enrollment <a style="text-decoration: none;"
                                    href="https://api.whatsapp.com/send/?phone=%2B919511709158&text&type=phone_number&app_absent=0">Click
                                    Here</a>
                                <div>
                                    Or through App 👉🏻👉🏻👉🏻 Follow Below link and click on <a
                                        style="text-decoration: none;"
                                        href="https://user.tusharghone.com/course-detail?name=money-making-trading-course">Enroll
                                        course</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">If I have any issue related to access or app to whom I will contact?
                        </div>
                        <div><span class="text-white" *ngIf="!text7" (click)="onText7()">+</span> <span
                                class="text-white" *ngIf="text7" (click)="onText18()">-</span></div>
                    </div>
                    <div *ngIf="text7">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">Customer care Team
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">Do I need to pay premium charges for Charting software to use
                            screener?</div>
                        <div><span class="text-white" *ngIf="!text8" (click)="onText8()">+</span> <span
                                class="text-white" *ngIf="text8" (click)="onText19()">-</span></div>
                    </div>
                    <div *ngIf="text8">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">It doesn’t required.. We are aware there
                                will be sight delay in updation for scanners however we have created scanners with
                                considering this and rest assure this will not impact your trading.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">Can I trade independently?</div>
                        <div><span class="text-white" *ngIf="!text9" (click)="onText9()">+</span> <span
                                class="text-white" *ngIf="text9" (click)="onText20()">-</span></div>
                    </div>
                    <div *ngIf="text9">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">Trading is skill you need to develop with
                                proper knowledge, discipline and practice it is possible. All are given in MMTC
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">Can I trade in Option?</div>
                        <div><span class="text-white" *ngIf="!text10" (click)="onText10()">+</span> <span
                                class="text-white" *ngIf="text10" (click)="onText21()">-</span></div>
                    </div>
                    <div *ngIf="text10">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">Yes You Can......
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-content">
                    <div class="course-content-wrap">
                        <div class="course-topic">What is silver plan?</div>
                        <div><span class="text-white" *ngIf="!text11" (click)="onText11()">+</span> <span
                                class="text-white" *ngIf="text11" (click)="onText22()">-</span></div>
                    </div>
                    <div *ngIf="text11">
                        <div class="answer-content-wrap">
                            <div class="answer-div" style="font-size: 13px;">In silver plan You get.. Every Friday 9PM
                                practice & doubt clearing session Intraday trading, BTST, Short term, Swing trading
                                analysis & live example Nifty and Bank Nifty Index levels analysis World market updates
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>