<nav class="navbar navbar-expand-sm " style="padding: 20px;">
    <a class="navbar-brand" href="#">
        <img class="img-fluid" src="https://tusharghone.com/assets/images/logo/logo.png" height="50px" width="100px"
            alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
      >
        <span class="navbar-toggler-icon bg-light"> </span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar" class="div" >
        <ul class="navbar-nav ms-5 ps-5 navs">
            <li class="nav-item ">
                <a class="nav-link text-secondary" href="#" [ngxScrollTo]="'#home'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" [ngxScrollTo]="'#services'">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" [ngxScrollTo]="'#aboutus'">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" [ngxScrollTo]="'#course'">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" [ngxScrollTo]="'#instructor'">Instructor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" [ngxScrollTo]="'#how'">How To Apply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" [ngxScrollTo]="'#faq'">FAQ</a>
            </li>
        </ul>
    </div>
</nav>
