<body id="services">
    <div id="heading"> Why Choose Us ? </div>
    <p class="mt-4  mx-auto" id="para">There are many things you can only get if you join online learning that
        you will not get in ordinary learning.</p>
    <div class="container ">
        <div class="row">
            <div class="col-lg-4">
                <div class="card bg-dark">
                    <div class="card-title "><img alt="" srcset="" style="height: 4.5em;"
                            src="https://tusharghone.com/assets/images/section-img/service/1.png"></div>
                    <div class="mt-2">
                        <h5 class="service-title fw-bold mt-4 mb-4">Learn Indepth Concepts</h5>
                        <div class="service-desc text-muted mb-2"> Learn in-depth concepts from basics
                            to advance. You will learn to analyse the stock market and trade independently.</div>
                        <div><a class="service-footer" href="http://user.tusharghone.com/"> Browse Course </a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-dark">
                    <div class="card-title "><img alt="" srcset="" style="height: 4.5em;"
                            src="https://tusharghone.com/assets/images/section-img/service/2.png"></div>
                    <div class="mt-2">
                        <h5 class="service-title fw-bold mt-4 mb-4">Live Weekly Sessions</h5>
                        <div class="service-desc text-muted mb-2">As a course student or member of our gold-silver plan
                            you will get live sessions with an expert trader and learn new trading concepts.</div>
                        <div><a class="service-footer" href="http://user.tusharghone.com/"> Browse Course </a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-dark">
                    <div class="card-title "><img alt="" srcset="" style="height: 4.5em;"
                            src="https://tusharghone.com/assets/images/section-img/service/3.png"></div>
                    <div class="mt-2">
                        <h5 class="service-title fw-bold mt-4 mb-4">Free Scanners</h5>
                        <div class="service-desc text-muted mb-2"> Scanner are a boon for traders. You get scanners with
                            our course which will help you to trade even in your busy schedule.</div>
                        <div><a class="service-footer" href="http://user.tusharghone.com/"> Browse Course </a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-dark">
                    <div class="card-title "><img alt="" srcset="" style="height: 4.5em;"
                            src="https://tusharghone.com/assets/images/section-img/service/4.png"></div>
                    <div class="mt-2">
                        <h5 class="service-title fw-bold mt-4 mb-4">Quiz After Every Chapter</h5>
                        <div class="service-desc text-muted mb-2"> You get a quiz after every chapter to know your
                            capacity of understanding.nWe help you revise what you have learn so far</div>
                        <div><a class="service-footer" href="http://user.tusharghone.com/"> Browse Course </a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-dark">
                    <div class="card-title "><img alt="" srcset="" style="height: 4.5em;"
                            src="https://tusharghone.com/assets/images/section-img/service/5.png"></div>
                    <div class="mt-2">
                        <h5 class="service-title fw-bold mt-4 mb-4">Study Material</h5>
                        <div class="service-desc text-muted mb-2"> You will get a study material through which you can
                            revise what you have learnt anytime anywhere without any net connection..</div>
                        <div><a class="service-footer" href="http://user.tusharghone.com/"> Browse Course </a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-dark">
                    <div class="card-title "><img alt="" srcset="" style="height: 4.5em;"
                            src="https://tusharghone.com/assets/images/section-img/service/6.png"></div>
                    <div class="mt-2">
                        <h5 class="service-title fw-bold mt-4 mb-4">Trade Analysis</h5>
                        <div class="service-desc text-muted mb-2"> We also provide trade analysis for educational
                            purpose on our telegram channel you can watch it and understand our basis of trade.</div>
                        <div><a class="service-footer" href="http://user.tusharghone.com/"> Browse Course </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>