<body class="container-fluid" id="home">
    <div class="row">
        <div class="col-lg-5 col-sm-12 " id="main">

            <div style="color: rgb(244, 110, 110);font-size: large;"> A Trusted Online Course </div>
            <div id="text1" > Learn Stock Market from Professionals </div>
            <div class="text"> Start Booking </div>
            <div class="text"> Profits&nbsp;at&nbsp;Right&nbsp;Time</div>
            <p class="mt-4 mb-0 text-muted" >We aim at providing the in-depth
                knowledge of stock market in the simplest way possible.</p>
            <div class="mt-4"><button class="btn btn-danger"><a href="https://course.tusharghone.com/">Enroll Now</a></button></div>
            <div class="mt-4">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <div>
                        <div style="color: yellow;font-size: x-large;"> 1000+ </div>
                        <div style="color: pink;"> No of Reviews </div>
                    </div>
                    <div style="width: 1px; height: 58px; background: #FFFFFF;"></div>
                    <div>
                        <div style="color: yellow;font-size: x-large;"> 18+ </div>
                        <div style="color: pink;"> Total Course </div>
                    </div>
                    <div style="width: 1px; height: 58px; background: #FFFFFF;"></div>
                    <div>
                        <div style="color: yellow;font-size: x-large;"> 120k </div>
                        <div style="color: pink;"> Dedicated learner </div>
                    </div>
                </div>
            </div>


        </div>
        
        <div class="col-lg-4 col-sm-12" style="padding-bottom: 20px;">
            <img src="https://tusharghone.com/assets/images/section-img/home/bulls.png" alt="picSellBuy" 
                 class="img-responsive">
        </div>
    </div>

</body>