<body id="how">
    <div class="container">
        <div class="row mt-5 vertical-content">
            <div class="col-lg-5 offset-lg-1 mt-2">
                <div class="features-desc">
                    <div class="small-txt" style="color: #DF7068;"> Information </div>
                    <div class="large-txt"> How to Apply? </div>
                    <div class="mt-4">
                        <div style="display: flex; align-items: center; margin-bottom: 1em;">
                            <div style="margin-right: 1em;"><img
                                    src="https://tusharghone.com/assets/images/section-img/how-to-apply/point-1.png"
                                    alt="" style="height: 3.5em;"></div>
                            <div>
                                <div class="medium-txt"> Download &amp; Read Brochure </div>
                                <div class="small-txt"> Download our Brochure , Read it
                                    carefully.<span class="ylw-txt">All the answers to your
                                        questions</span> are provided in the brochure. </div>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; margin-bottom: 1em;">
                            <div style="margin-right: 1em;"><img
                                    src="https://tusharghone.com/assets/images/section-img/how-to-apply/point-2.png"
                                    alt="" style="height: 3.5em;"></div>
                            <div>
                                <div class="medium-txt"> Register &amp; Enrollment </div>
                                <div class="small-txt"><span class="ylw-txt">Complete the registration</span> process by
                                    paying the amount of
                                    registration, and take a screenshot of the successful payment. </div>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; margin-bottom: 1em;">
                            <div style="margin-right: 1em;"><img
                                    src="https://tusharghone.com/assets/images/section-img/how-to-apply/point-3.png"
                                    alt="" style="height: 3.5em;"></div>
                            <div>
                                <div class="medium-txt"> Confirmation </div>
                                <div class="small-txt"> Send the screenshot of successful payment
                                    on WhatsApp <span class="ylw-txt">(+91-8130245100)</span></div>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; margin-bottom: 1em;">
                            <div style="margin-right: 1em;"><img
                                    src="https://tusharghone.com/assets/images/section-img/how-to-apply/point-4.png"
                                    alt="" style="height: 3.5em;"></div>
                            <div>
                                <div class="medium-txt"> Verification </div>
                                <div class="small-txt"> As soon as your payment is verified, you
                                    will <span class="ylw-txt">receive details of your assigned
                                        Relationship Manager.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-2">
                <div><img src="https://tusharghone.com/assets/images/section-img/how-to-apply/1.png" alt=""
                        class="img-fluid img-1"></div>
            </div>
        </div>
    </div>
</body>